* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	font-weight: 300;
}


body {

	background: -webkit-linear-gradient(to right, #191970, #191970);
	background: linear-gradient(to right, #800080, #191970);

	color: white;
	padding: 50px;
}
#text {
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 30px;
	font-weight: 100;
}
/*ТУТ НАЧИНАЮТСЯ ОКНА ВВОДА */
#key {
	position: absolute;
	left: 40px;
	top: 100px;
	display: block;
	border: none;
	background: rgba(192, 192, 192, .9);
	border-radius: 5px;
	padding: 10px;
	color: white;
	outline: none;
	font-size: 30px;
}
/*ТУТ НАЧИНАЮТСЯ кнопки*/
#enter {
	display: block;
	border: none;

	background: -webkit-linear-gradient(to right, #FFD700, #FF4500);
	background: linear-gradient(to right, #FFD700, #FF4500);


	position: absolute;
	left: 130px;
	top: 180px;
	border-radius: 10px;
	padding: 25px;
	color: white;
	outline: none;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}
#enter:hover {
	opacity: .9
}
#enter:active {
	font-size: 29px;
	position: absolute;
	left: 132.1px;
	top: 181.5px;
}
